<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container_content">

    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input type="text" matInput formControlName="title" />
    </mat-form-field>

    <div class="buton-cancelar">
      <button mat-raised-button color="primary" type="submit">
        Salvar
      </button>

      <button mat-raised-button style="margin-left: 8px;" color="warn" type="button" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>

