/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-container {
  max-width: 750px;
  width: 100%;
}

.ms-success {
  background-color: #28a745 !important;
}

.ms-success,
.ms-success .mdc-button__label,
.ms-success .mdc-snackbar__label {
  color: white !important;
  background-color: #28a745 !important;
}

.ms-error {
  background-color: #e35e6b !important;
}

.ms-error,
.ms-error .mdc-button__label,
.ms-error .mdc-snackbar__label {
  color: white !important;
  color: #e35e6b !important;
}

// .ms-error .mdc-button__label {
//   color: #e35e6b !important;
// }
